<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <body>
    <% if (student) { %>
      <a href="/students/<%= student.id %>">
        click for details for student <%= student.id %>
      </a>
    <% } else { %>
      <p>Student not found.</p>
    <% } %>
  </body>
  
</body>
</html>